* {
    box-sizing: border-box;
    color:chocolate;
}
h1 {
    color:seagreen;
}
.bee {
    color: darkorange;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: lighter;
    line-height: 25px;
    font-family:'Courier New', Courier, monospace
}
.barry {
    width: 600px;
    height: 200px;
    z-index: -1;
}